@import url('https://fonts.googleapis.com/css2?family=Anton&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(90deg, #340c0c, #a62c0b);
}

/* Estilos del Header */
header {
    background: radial-gradient(circle, rgba(133, 1, 1, 0.986) 0%, rgb(66, 6, 6) 100%);
    text-align: center;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100px;
    z-index: 2000;
}

header img {
    margin-top: 25px;
    width: 25%;
    height: 20%;
    margin-right: 85px;
}

header i {
    color: #fff;
    font-size: 50px;

}

.img-fondo {
    all: unset;
}

.video-fondo {
    display: none;
}

#menu-toggle {
    display: none;
}


/* Navegación oculta por defecto */
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    /* Ahora ocupa el 100% */
    background-color: #750101;
    padding: 15px 0;
    /* Sin padding lateral para que abarque todo */
    border-radius: 0;
    /* Sin bordes redondeados */
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease;
    z-index: 10;
    font-family: "JetBrains Mono", Courier, monospace;

}

.nav-links i {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

/* Enlaces */
.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #a32b2b;
}

/* Cuando el checkbox está checked (menú abierto) */
#menu-toggle:checked+.menu-icon+.nav-links {
    transform: scaleY(1);
}

/* Sección de Inicio */
.inicio,
.inicio-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 90%;
    text-align: center;
    margin-top: 50%;
}

.inicio-2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 90%;
    text-align: center;
    margin-top: 10%;
}

.inicio h1 {
    color: white;
    font-size: 70px;
    font-family: "Anton", monospace;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.inicio hr {
    width: 90%;
    height: 3.5px;
    background-color: white;
    margin-bottom: 5%;
}

.inicio h4 {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    margin-bottom: 15%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.inicio .btn1 {
    text-decoration: none;
    color: white;
    border: solid 1px red;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #950005;
    padding-left: 35px;
    padding-right: 35px;
    font-family: "JetBrains Mono", monospace;
}

/* Estilos de las tarjetas */

.tarjetas-categoria {
    margin-top: 100px;
}

.tarjetas-categoria h2 {
    color: white;
    font-size: 40px;
    font-family: "Anton", monospace;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 25%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 50px 50px 50px #aa0606, -20px -20px 60px #aa0606;
    margin-bottom: 50px;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.card-text {
    position: absolute;
    z-index: 3;
    color: white;
    font-family: "Anton", monospace;
    font-size: 28px;
    text-align: center;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

}

.bg {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 190px;
    height: 235px;
    z-index: 2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 3px solid rgb(255, 0, 0);
}

/* Línea con imagen */
.linea {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.linea hr {
    height: 2cqb;
    background-color: white;
    margin-bottom: 5%;
}

.linea img {
    height: 60px;
    width: 60px;
}


.slider-container {
    margin-top: 100px;
    width: 99vw;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.543);
    height: 50px;
    display: flex;
    align-items: center;
}

.slider-track {
    display: flex;
    gap: 40px;
    animation: scroll 10s linear infinite;
    white-space: nowrap;
    width: fit-content;
}

.slider-track span {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    padding-right: 40px;
}

/* Animación infinita sin espacios vacíos */
@keyframes scroll {
    100% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Seccion de Eventos */
.calendario {
    display: none;
}

.seccion-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.seccion-eventos h2 {
    color: white;
    font-size: 40px;
    font-family: "Anton", monospace;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}


.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-decoration: none;

    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;
    text-decoration: none;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    border: solid 1px red;
    background-color: #950005;
    text-decoration: none;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #ffffff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 15px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;
    text-decoration: none;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #fffcfc;
    text-decoration: none;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 118px;
    width: 118px;
    background-color: #0900005e;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}




@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

/* Info del Evento */

/* Contenedor del logo */
.logo-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.logo-container img {
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #880000;
    box-shadow: 0 0 20px rgb(224, 10, 10);
}

/* Título principal */
.title {
    font-size: 30px;
    margin: 20px 0 10px 0;
    text-align: center;
    color: white;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
}

.informacion-titulo {
    font-size: 40px;
    text-align: center;
    color: white;
    margin-top: 30px;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-weight: 300;
    margin-bottom: 110px !important;
}


/* Descripción del evento */
.descripcion-evento {
    color: #ddd;
    font-size: 1.2em;
    text-align: center;
    max-width: 700px;
    margin: 10px auto 30px auto;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.6;
}

/* Tabla */
.info-evento table {
    border-collapse: collapse;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(90, 0, 0, 0.6);
    /* rojo oscuro translúcido */
    color: white;
    font-family: "JetBrains Mono", monospace;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.3);
}

/* Estilo general para las celdas */
.info-evento td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ccc;
}

/* Primera columna con color */
.info-evento td:nth-child(1) {
    background-color: rgba(228, 13, 13, 0.564);
    /* rojo oscuro translúcido */
    color: white;
}

/* Segunda columna con otro color */
.info-evento td:nth-child(2) {
    background-color: rgba(172, 60, 29, 0.6);
    color: white;
}



/* Primera columna en negrita */
.info-eventotd:first-child {
    font-weight: bold;
    color: #f8dede;
    /* color suave, claro sobre fondo rojo */
}

/* FOOTER */

footer {
    width: 98vw;
    background-color: #00000048;
    margin-top: 10%;
    padding-top: 40px;
    text-align: center;
    color: #fff;
    font-family: 'JetBrains Mono', Courier, monospace;
}

footer img {
    width: 120px;
    margin-bottom: 20px;
}

.btn-social {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.btn-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a90000;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background 0.3s;
    width: 200px;
}

.btn-social a i {
    margin-right: 10px;
    font-size: 20px;
}

.btn-social a:hover {
    background-color: #810000;
}

footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #ddd;
}

/* Estilos para el menú administrativo */

.container-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px !important;
    width: 90%;
    margin: 0 auto;
    color: white;
    font-family: "JetBrains Mono", monospace;
}
.titulo-admin {

    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 80px;
    font-family: "Anton", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 2.5px;
    
}

.barra-superior {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 30px;
  box-sizing: border-box;
  color: white;
}

/* Botón de nuevo evento */
.btn-nuevo {
  margin-right: auto;
  background-color: #b30000;
  color: white;
  font-weight: bold;
  font-style: italic;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.btn-nuevo:hover {
  background-color: #eb0404;
}

.buscador {
  display: flex;
  align-items: center; 
  gap: 10px;
  margin-left: auto;
}

.buscador label {
  color: white;
  font-size: 1rem;
}

.input-con-icono {
  position: relative;
  display: flex;
  align-items: center;
}

.input-con-icono i {
  position: absolute;
  right: 10px;
  color: gray;
  font-size: 1rem;
  pointer-events: none;
}

.caja-buscar {
  padding: 7px 8px;
  border-radius: 5px;
}



/* Tabla de eventos */
.contenedor-tabla {
  width: 95%;
  margin: 0 auto 50px;
  overflow-x: auto;
}

.contenedor-tabla table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: fixed;
  word-break: break-word;
}

.contenedor-tabla th, td {
  border: 0.55px solid white;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 0.95rem;
}

.contenedor-tabla th {
  background-color: #b41212;
}

.contenedor-tabla td {
  background-color: #720909;
}

/* Botones de acción con enlaces */
.btn-accion {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #7a0000;
  padding: 6px 10px;
  border-radius: 5px;
  margin: 2px;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.btn-accion:hover {
  background-color: #ee0606;
}



.form-nuevo-evento {
    margin-top: 20% !important;
    margin-bottom: 20% !important;
  background-color: #7b0f0f;
  padding: 30px;
  border-radius: 25px;
  width: 320px;
  color: white;
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.6);
  margin: 40px auto;
}

.titulo-formulario {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.campo-form {
  position: relative;
  margin-bottom: 15px;
}

.campo-form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1rem;
  pointer-events: none;
}

.campo-form i:first-child {
  left: 16px;
}

.icono-derecha {
  right: 12px;
}

.campo-form input,
.campo-form select {
  width: 100%;
  height: 42px;
  padding: 0 36px 0 44px;
  border: none;
  border-radius: 8px;
  background-color: #a62424;
  color: white;
  font-size: 0.95rem;
  box-sizing: border-box;
  appearance: none;


}

/* Ocultar ícono en Chrome y Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}


/* Icono derecho igual que en categoría */
.icono-derecha {
  right: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: white;
  font-size: 1rem;
}

/* Padding para input date  */
input[type="date"] {
  padding-left: 44px;
  padding-right: 36px;
  background-color: #a62424;
  color: white;
  border-radius: 8px;
  border: none;
  height: 42px;
  box-sizing: border-box;
}




.campo-form input::placeholder {
  color: #eee;
}

.campo-form .campo-archivo {
  padding: 8px 10px 8px 44px;
  height: 42px;
}

.btn-registrar {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 8px;
  font-family: monospace;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  margin-top: 30px;
}

/* Login */
.login .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #7b0f0f;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 75%;
    margin: 0 auto;
    margin-top: 50% !important;
    background-color: #7b0f0f;
    padding: 30px;
    border-radius: 25px;
    width: 320px;
    color: white;
    box-shadow: 0 8px 20px rgba(255, 0, 0, 0.6);
    margin: 40px auto;
}

.login .form:hover {
    transform: scale(1.05);
}

#heading {
    text-align: center;
    margin: 1em;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #720f0f;
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.488);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
    
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #f3f3f3;
        font-family: "JetBrains Mono", Courier, monospace;

}

.input-field::placeholder {
    color: #f3f3f39c;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}


.button3 {
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #fcfcfc;
    color: rgb(40, 40, 40) !important;
    font-family: "jetbrains-mono", monospace;
    font-weight: 700;
}

.button3:hover {
    background-color: #940000;
    color: white !important;
}

/* Responsive o Vista para escritorio */
@media (min-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
        position: relative;
        width: 90%;
        background: transparent;
    }

    header img {
        width: 150px;
        margin: 0;
        margin-left: 150px;
    }

    .menu-icon {
        display: none;
    }

    .nav-links {
        position: static;
        transform: scaleY(1) !important;
        flex-direction: row;
        gap: 40px;
        background: none;
        padding: 0;
        width: auto;
        height: auto;
        z-index: auto;
    }

    .nav-links a {
        font-size: 18px;
        background-color: #aa0606;
        border-radius: 10px;
        padding: 12px;
        box-shadow: 0 0 10px #550000;
    }

    .nav-links a:hover {
        background-color: #7a0000;
    }

    .img-fondo {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .video-fondo {
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        object-fit: cover;
        /* Recorta sin deformar */
        z-index: -1;
        /* Detrás del contenido */
        filter: brightness(0.8);
        /* filter: blur(5px); */
    }

    .inicio,
    .inicio-2 {

        text-align: center;
        z-index: 1;
        margin-top: 8%;
    }

    .inicio h1 {
        font-size: 100px;
        margin-bottom: 2%;
    }

    .inicio h4 {
        font-size: 30px;
        margin-bottom: 5%;
    }

    .inicio .btn1 {
        padding: 25px;
        font-size: 22px;
        border-radius: 10px;
        background-color: #aa0606;
        padding-left: 50px;
        padding-right: 50px;
        box-shadow: 0 0 10px #290000b3;
        margin-bottom: 80px;
    }

    .inicio .btn1:hover {
        background-color: #640000;
    }


    .tarjetas-categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjetas-categoria h2 {
        font-size: 60px;
        margin-bottom: 70px;
        margin-top: 50px;
    }

    .tarjetas-categoria .card {
        margin: 50px;
    }

    .card {
        width: 300px;
        height: 360px;
        box-shadow: 20px 20px 20px #820101, -10px -10px 40px #440000;
    }

    .card-text {
        font-size: 32px;
        text-align: center;
        pointer-events: none;
    }

    .card .bg {
        width: 290px;
        height: 335px;
    }

    .tarjetas-categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tarjetas-categoria .card-container {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .seccion-eventos h2 {
        font-size: 60px;
        margin-top: 5%;
        margin-bottom: 0%;
    }
    
    .filtro-container {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      border-radius: 15px;
      width: fit-content;
      margin: 50px auto;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .filtro-container select,
    .filtro-container input {
      border: none;
      outline: none;
      padding: 10px 15px;
      font-size: 16px;
      background: transparent;
      color: #000a2d;
      cursor: pointer;
      font-family: "JetBrains Mono", monospace;
    }

    .filtro-container select {
      appearance: none;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23a50000' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 12px;
      padding-right: 25px;
    }

    .filtro-container input[type="text"] {
      cursor: text;
    }

    .divider {
      width: 1px;
      height: 30px;
      background-color: #ccc;
      margin: 0 5px;
    }

    .filtro-container button {
      background-color: #8a1c0b;
      border: none;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
    }

    .filtro-container button i {
      color: white;
      font-size: 18px;
    }
    .informacion-titulo {
        font-size: 60px;
        margin-top: 150px;
        margin-bottom: 50px;
    }

    .calendario {
        display: block;
        margin-top: 50px;
    }

    .calendario h2 {
        color: white;
        font-size: 60px;
        font-family: "Anton", monospace;
        letter-spacing: 2px;
        font-weight: 500;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
        margin-bottom: 5%;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        display: flex;
        width: 10rem;
        height: 10rem;
        margin: 0.25rem;
        flex-flow: column;
        border-radius: 0.2rem;
        padding: 1rem;
        font-weight: 300;
        font-size: 0.8rem;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    ul li time {
        font-size: 2rem;
        margin: 0 0 1rem 0;
        font-weight: 500;
    }

    ul li.today {
        background: #ffffff70;
    }

    ul li.today time {
        font-weight: 800;
    }
    .container-admin {
        margin-top: 50px !important;
        width: 90%;
        margin: 0 auto;
        color: white;
        font-family: "JetBrains Mono", monospace;
    }
    .login .form {
        margin-top: 5% !important;
    }
}